body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    place-items: center;
    /* place-content: center; */
}


#content {
    text-align: center;
}


#homeImage {
    max-width: 50%;
    max-height: auto;
}